$clock-background: black;
$margin: 10px;
$divider-width: 50px;
$dot-size: 50px;
$off-color: #222;
$on-color: white;
$clock-width: 6 * $dot-size + 12 * $margin + 2 * $divider-width;
$clock-height: 4 * $dot-size + 8 * $margin;
