// bower:scss
// endbower
@import "variables";

@keyframes switch_off {
  from { background: $on-color; }
  to { background: $off-color; }
}

@keyframes switch_on {
  from { background: $off-color; }
  to { background: $on-color; }
}

* {
  box-sizing: border-box;
}

#react-root {
  display: flex;
  justify-content: center;

  .divider {
    width: $divider-width;
  }

  .container {
    width: $clock-width;
    height: $clock-height;
    background: $clock-background;
    display: flex;
  }

  .on, .off {
    width: $dot-size;
    height: $dot-size;
    margin: $margin;
    border-radius: $dot-size;
  }

  .on {
    animation: switch_on 250ms;
    background: $on-color;
  }

  .off {
    animation: switch_off 250ms;
    background: $off-color;
  }

  .hours, .minutes, .seconds {
    display: flex;
    flex-direction: row;
  }

  .upper, .lower {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
